<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Welcome to Home Page</h1>
    <form action="/profile" method="get">
      <input
        type="text"
        name="username"
        placeholder="Enter your name"
        required
      />
      <button type="submit">Go to Profile</button>
    </form>
    <p>Or try: <a href="/profile/Divyesh">View Divyesh's Profile</a></p>
  </body>
</html>
